/**** Grid *****/
#main{
    background-image: linear-gradient(-130deg,#0c7bb3,#f2bae8);
    width: auto;
}
.advice {
    width: 50%;
    margin: auto;
    padding: 30px;
    border: solid;
    background-color: #e6f2ff;
}
/****** content *****/
header {
    font-family:serif; 
    font-size: 35px;
    text-decoration: underline;
    color:#001a1a;
    text-align: center;
    margin: auto;
    padding: 20px;
    
}
h1 {
    font-family:serif; 
    font-size: 28px;
    color: #001a1a;
}
h2 {
    font-family: serif;
    font-size: 26px;
    color:#001a1a;
    text-decoration: underline;
}
h3{
    font-family: seif;
    font-size: 24px;
    color: #001a1a;
}
p {
    font-family: serif; 
    font-size:22px;
    color:#001a1a;
}
li{
    font-family: serif;
    font-size: 18px;
    color: #001a1a
}

/******* Image  ******/
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/****** Footer ******/
footer {
    font-family:serif; 
    font-size:10px;
    color:#001a1a;
}
#top{
    font-size: 20px;
}